.about1{
    width: 200px;
    height: 200px;
    background-color:#FF6699;
    margin: auto;
    float:center;
  }

  .about2{
    width: 200px;
    height: 200px;
    margin: auto;
    float:center;
  }
