.title-SignIn{
  letter-spacing: 2px;
  padding: 1.5rem;
  font-size: 50px;
  font-weight: bold;
}

.btn-signIn{
  background-color: #DD0C0C;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
}

#form{
  margin: 0 1rem 1rem 1rem;
}

.form-check-label{
  opacity: 0.6;
}

ons-page ons-row {
  padding: 1rem;
  justify-content: space-between;
}

ons-page ons-row div{
  text-decoration: underline;
  font-size: 20px;
}

ons-carousel div {
  width: 150px;
}

.login-btn {
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 50px;
  background-color: #4285F4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}
.login-icon {
  position: absolute;
  margin-top: 8.5px;
  margin-left: 8.5px;
  width: 32px;
  height: 32px;
}
.login-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 47px;
  height: 47px;
  border-radius: 2px;
  background-color: #fff;
}
.btn-text {
  padding-left: 3.5rem;
  float: left;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

.solid {
  border-radius: 10px;
  border: 2px solid white;
}
.focused{
  border: 6px solid #2F2F2F;
}
