<ons-page id="detail">

    
    <ons-toolbar>
        <div class="left">
          <ons-back-button>ย้อนกลับ</ons-back-button>
        </div>
        <div class="center" style="color: white;">
          รายละเอียด
        </div>
      </ons-toolbar>
      <div class="background-color">
      <div id="showDetailList" ></div>
      <ons-button modifier="large" onclick="selectDate()">ยืมหน่อยสิ</ons-button>
    </div>

      <template id="alert-dialog.html">
        <ons-alert-dialog id="my-alert-dialog" modifier="rowfooter">
          <div class="alert-dialog-title">เลือกวันที่</div>
          <div class="alert-dialog-content">
            <br/>
            <p>วันที่ยืม</p><input type="date" id="startDate" value="2020-12-04" min="2020-12-04">
            <br/><br/>
           <p>วันที่คืน</p><input type="date" id="endDate" value="2020-12-04"  min="2020-12-05">
          </div>
          <p id="incorrectDate"></p>
          <div class="alert-dialog-footer">
            <ons-alert-dialog-button onclick="cancleAlertDialog()">ยกเลิก</ons-alert-dialog-button>
            <ons-alert-dialog-button onclick="OKAlertDialog()">ยืนยัน</ons-alert-dialog-button>
          </div>
        </ons-alert-dialog>
      </template>
</ons-page>
