<link rel="stylesheet" href="../css/signin.css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet'
  type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">


<onspage>
  <div class="container">
    <div class="testbox">
      <h1>Registration</h1>

      <form>


        <div>
          <label id="icon" for="name"><i class="icon-envelope "></i></label>
          <input type="text" name="name" id="emailRegis" placeholder="Email" required />
        </div>
        <div>
          <label id="icon" for="name"><i class="icon-user"></i></label>
          <input type="text" name="name" id="nameRegis" placeholder="Name" required />
        </div>
        <div>
          <label id="icon" for="name"><i class="icon-shield"></i></label>
          <input type="password" name="name" id="passwordRegis" placeholder="Password" required />
        </div>
        <div>
          <label id="icon" for="name"><i class="icon-shield"></i></label>
          <input type="password" name="name" id="repasswordRegis" placeholder="Confirm Password" required />
        </div>

        <div class="gender">
          <input type="radio" value="None" id="male" name="gender" checked />
          <label for="male" class="radio" chec>Male</label>
          <input type="radio" value="None" id="female" name="gender" />
          <label for="female" class="radio">Female</label>
        </div>
        <a href="index.html" class="button">Register</a>
        <a class="button" id="Logout">Log out </a>

        <ons-button onclick=window.location.href="login.html" style="width: 95%; margin: 0 auto;" id ="Logout">
          Sign out
      </ons-button>
      </form>

    </div>

    
  </div>
  </div>
  <script src="../js/regist.js"></script>
</onspage>
